.global-background {
  position: fixed;
  top: var(--ifm-navbar-height, 64px);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--ifm-navbar-height, 64px));
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  pointer-events: none;

  /* évite certains micro "jumps" GPU */
  transform: translateZ(0);
  backface-visibility: hidden;
}

.global-background img {
  height: 100%;
  width: auto;
  object-fit: contain;

  /* évite la sélection / drag visuel */
  user-select: none;
  -webkit-user-drag: none;

  /* rend le compositing plus stable */
  transform: translateZ(0);
}

.global-background.home {
  opacity: 1;
}

.global-background.secondary {
  opacity: 0.25;
}
