.pagetitle {
  margin: 0 0 8px;
}
.pagetitle__title {
  margin: 0 0 8px;
  font-size: var(--ifm-h1-font-size);
  line-height: var(--ifm-heading-line-height);
  font-weight: var(--ifm-font-weight-bold);
}
.pagetitle__desc {
  margin: 0;
  opacity: .9;
  font-size: 1rem;
  line-height: 1.6;
}
